*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100dvh;
}

/* custom properties */
:root {
    /* basic colors */
    --psp-foreground: #28282f;

    /* states */
    /* button: default */
    --button-shading: #000;

    /* text */
    --text-color: #fff;
}

body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*======================
 *      CODE START
 *======================*/
/* ! Apply nesting */
/* ! Apply one other requirement */
/* ! Create a FITTING title */

/* ! TODAYS TASK: */
/* TODO: Create the D-PAD on the other side */

body > div {
    position: relative;
}

body > div > img[src="./assets/svgs/psp-foreground.svg"] {
    width: 100%;
    height: 100%;
}

/* div that holds the main grid */
body > div > div {
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: 0.355fr 1fr 0.355fr;
    grid-template-rows: 0.06897fr 0.03448fr 1fr 0.15fr 0.03448fr;
}

body > div > div > div:first-child {
    /* border: red 2px solid; */
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 1;

    /* grid for the D-PAD main element */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr 1fr 0.65fr;
}

/* the screen */
/* TODO: add 'borders' styling for depth using box-shadow */
body > div > div > div:nth-child(2) {
    /* border: blue 2px solid; */
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;

    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.246) 0%,
        black 25%,
        rgba(255, 255, 255, 0.093) 50%,
        black 75%,
        rgba(255, 255, 255, 0.246) 100%
    );
}

body > div > div > div:nth-child(3) {
    /* border: green 2px solid; */
    grid-row-start: 3;
    grid-column-start: 3;
    grid-column-end: 3;

    /* position analog side main elements */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr 1fr 0.65fr;
}

body > div > div > div:last-child {
    /* border: yellow 2px solid; */
    grid-row-start: 4;
    grid-column-start: 2;
}

/* styling for inputs on the LEFT: D-PAD */
/* TODO: the above */
body > div > div > div:first-child > div:nth-child(2) {
    background: red;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;

    /* ! TURN THIS BACK ON */
    border: 1.5px solid black;
    border-radius: 100%;
    /* background: blue; */
    height: 100%;
    width: 70%;
    margin-inline: auto;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    /* why did i not know you could apply clip-paths to input fields..? :).. */
    input {
        content: "";
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        height: 20px;
        width: 20px;
        background: blue;
    }
}

/* styling for inputs on the RIGHT: ANALOG */
label {
    position: relative;
    align-self: center;
    justify-self: center;
}
/* ! THEN ADD THE BORDER CIRCLE AS A :BEFORE THATS POSITIONED ABSOLUTELY TO THE DIV ALL THE BUTTONS ARE IN: SIZE THIS HOW YOU WANT */
input,
label {
    cursor: pointer;
}

body > div > div > div:nth-child(3) > div:nth-child(2) > label > input {
    opacity: 0;
    position: absolute;
    top: 7px;
    left: 7px;
    transform: scale(1.8);
}

body > div > div > div:nth-child(3) > div:nth-child(2) > label:before {
    color: white;
    display: inline-block;
    vertical-align: middle;
    /* TODO: make sure this width scales */
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 100%;
    /* source for button styling: https://stackoverflow.com/questions/38377062/how-to-make-html-button-look-pressed-in-using-css */
    background-color: var(--psp-foreground);
    outline: none;
    -webkit-box-shadow: inset 0px 0px 5px var(--button-shading);
    -moz-box-shadow: inset 0px 0px 5px var(--button-shading);
    box-shadow: inset 0px 0px 5px var(--button-shading);
}

/* set icon */
/* TODO: scale 'content' */
/* TODO: make button appear pressed */
body
    > div
    > div
    > div:nth-child(3)
    > div:nth-child(2)
    > label:first-child:before {
    content: "△";
}

body
    > div
    > div
    > div:nth-child(3)
    > div:nth-child(2)
    > label:nth-child(2):before {
    content: "□";
}

body
    > div
    > div
    > div:nth-child(3)
    > div:nth-child(2)
    > label:nth-child(3):before {
    content: "⨯";
}

body
    > div
    > div
    > div:nth-child(3)
    > div:nth-child(2)
    > label:last-child:before {
    content: "○";
}

/* grid analog-side */
body > div > div > div:nth-child(3) > div:first-child {
    /* background: red; */
    grid-column-start: 1;
    grid-column-end: 4;
    height: 100%;
    width: 100%;
}

/* TODO: position analog buttons */
body > div > div > div:nth-child(3) > div:nth-child(2) {
    /* circle around the analog-pad */
    /* ! TURN THIS BACK ON */
    /* border: 1.5px solid black;
    border-radius: 100%; */
    /* background: blue; */
    /* height: 100%;
    width: 70%; */
    margin-inline: auto;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;

    /* TODO: fix buttons need to overlap circle, add padding to edges for this effect.*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

body > div > div > div:nth-child(3) > div:last-child {
    /* background: rgba(255, 255, 0, 0.423); */
    height: 100%;
    width: 100%;

    /* grid for power/hold */
    display: grid;
    grid-template-rows: 0.35fr 1fr 1fr 0.35fr;
    grid-template-columns: 1.25fr 1fr 0.25fr;

    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
}

/* styling for the power/hold buttons */
body > div > div > div:nth-child(3) > div:last-child > label {
    font-family: Arial, sans-serif;
    display: block;
    text-transform: uppercase;
    font-size: 0.6em;
    color: var(--text-color);
}

body > div > div > div:nth-child(3) > div:last-child > label:first-of-type {
    /* background: red; */
    align-self: start;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 100%;
}

body > div > div > div:nth-child(3) > div:last-child > label:last-of-type {
    /* background: blue; */
    align-self: end;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 100%;
}

/* some padding next to the label */
body > div > div > div:nth-child(3) > div:last-child > label > input {
    margin-left: 0.4em;
    filter: blur(2px);
    width: 1em;
    height: 1em;
    vertical-align: middle;
    background-color: white;
    border-radius: 100%;
    appearance: unset;
    -webkit-appearance: unset;
    cursor: pointer;
}

/* position individual buttons */
body > div > div > div:nth-child(3) > div > label:first-child {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
}

body > div > div > div:nth-child(3) > div > label:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
}

body > div > div > div:nth-child(3) > div > label:nth-child(3) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
}

body > div > div > div:nth-child(3) > div > label:last-child {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
}

/* functionality analog-side */
/* TODO: add styling for pressed button */
/* TODO: if power on checkbox checked, change screen styling: work with one element, no classes ofc.  */
body > div > div > div:nth-child(3) > div:last-child > label {
    width: max-content;
}
body > div > div > div:nth-child(3) > div:last-child > label > input {
    width: 5px;
    height: 5px;
}

/* press power on */
body > div > div > div:nth-child(3) > div:last-child > label > input:checked {
    background-color: rgb(0, 255, 0);
}

/* TODO: should toggle animation so it doesnt stay orange */
body
    > div
    > div
    > div:nth-child(3)
    > div:last-child:has(label:first-child > input:checked)
    label:last-child
    input {
    background-color: rgb(255, 166, 0);
}

/* turn screen on if powerbutton checked */
body:has(label:first-child > input:checked) div[data-element="screen"] {
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.246) 0%,
        rgb(255, 255, 255) 25%,
        rgb(178, 178, 178) 50%,
        rgb(255, 255, 255) 75%,
        rgba(255, 255, 255, 0.246) 100%
    );
}

body
    > div
    > div
    > div:nth-child(3)
    > div:last-child
    > label:last-child
    > input {
    background-color: white;
}

body
    > div
    > div
    > div:nth-child(3)
    > div:nth-child(2):has(input:checked)
    label:before {
    background-color: rebeccapurple;
}
